<h1>{{Name}}</h1>
<form action="/submit" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <div id="emailHelp" class="form-text">enter this email: "abc@abc.com"</div>
    <input type="text" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" value="abc@abc.com">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <div id="emailHelp" class="form-text">enter this password: "123456" </div>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="123456">
  </div>
  <input type="submit" class="btn btn-primary" value="SUBMIT">
</form>